html,body{
    margin:0px;
    padding:0px;
    margin-right:54px;
}
h1{
    text-align: center;
}
h2{
    text-align:right;
}
h3{
    text-align:center;
    color:blue;
}
p{
    font-size: 25px;
}
div{
    margin: 10px;
    background-color: bisque;
    padding:10px;
    margin-bottom:20px;
    overflow:auto;
}
div img{
    float:right;
    overflow: hidden;
}
ul{
    position: fixed;
    top:0px;
    right: 0px;
    bottom: 0px;
    height:100%;
    float:right;
    margin: 0px;
    list-style-type: none;
    background-color:tomato;
}
li a{
    text-decoration: none;
    display: block;
    padding:10px;
    
}
li a:hover{
    background-color: #3C6E71;
}
.content{
    width:95%;
    overflow:auto;
}
#heading{
    background-color:rgba(0,0,0,0);
    /*background-image:*/
    margin:10px;
}
